{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">{{ data.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" data-test="navigation">
                <li class="nav-item active">
                    {% for key, value in data.departures.items() %}
                        <li><a class="nav-link" href=/departure/{{ key }}/> {{ value }} </a></li>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </nav>

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ data.title }}</h1>
      <p class="lead">{{ data.subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ data.description }}</p>
    </div>

    <!-- CARDS -->
    <div class="row mt-5" data-test="cards">
        {% for i in range(6) %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
                    <img src={{ data.tours[i+1].picture }} class="card-img-top img-fluid" data-test="picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.tours[i+1].title }}</h5>
                        <p class="card-text">{{ data.tours[i+1].description|truncate(160, False)  }}</p>
                            <a class="btn btn-sm btn-primary" data-test="tourlink" href=/tour/{{ i+1 }}/>Подробнее</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
